#include "/home/ad/.Xresources.d/color/base16-gruvbox-dark-hard.Xresources"
#include "/home/ad/.Xresources.d/st"


!-- Xft settings -- !
!Xft.dpi:        96
!Xft.antialias:  true
!Xft.rgba:       rgb
!Xft.hinting:    true
!Xft.hintstyle:  hintfull

!XTerm.vt100.faceName:FiraCode NF:style=Retina:pixelsize=13
!
!
!-- dwm settings --!
!dwm.normbordercolor : #44475a
!dwm.normbgcolor     : #282A36
!dwm.normfgcolor     : #BBBBBB                               
!dwm.selbordercolor  : #6272A4
!dwm.selbgcolor      : #4A577D
!dwm.selfgcolor      : #F8F8F2

!-- Base16 OneDark --!
!! Scheme: Lalit Magant (http://github.com/tilal6991)

!#define base00 #282c34
!#define base01 #353b45
!#define base02 #3e4451
!#define base03 #545862
!#define base04 #565c64
!#define base05 #abb2bf
!#define base06 #b6bdca
!#define base07 #c8ccd4
!#define base08 #e06c75
!#define base09 #d19a66
!#define base0A #e5c07b
!#define base0B #98c379
!#define base0C #56b6c2
!#define base0D #abb2bf
!#define base0E #c678dd
!#define base0F #be5046

!*foreground:   base05
!#ifdef background_opacity
!*background:   [background_opacity]base00
!#else
!*background:   base00
!#endif
!*cursorColor:  base05

!*color0:       base00
!*color1:       base08
!*color2:       base0B
!*color3:       base0A
!*color4:       base0D
!*color5:       base0E
!*color6:       base0C
!*color7:       base05

!*color8:       base03
!*color9:       base08
!*color10:      base0B
!*color11:      base0A
!*color12:      base0D
!*color13:      base0E
!*color14:      base0C
!*color15:      base07



!! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
!! use 'shell' template to set these if necessary
!*color16:      base09
!*color17:      base0F
!*color18:      base01
!*color19:      base02
!*color20:      base04
!*color21:      base06


!### gruvbox color schema ###

!dwm.normbordercolor : #32302F
!dwm.normbgcolor     : #1D2021
!dwm.normfgcolor     : #e6d4a3
!!active border
!dwm.selbordercolor  : #B73E04
!!active windows
!dwm.selbgcolor      : #3C3836
!!font
!dwm.selfgcolor      : #D5C4A1

!Generated with :
!XRDB2Xreources.py

!*.foreground:  #e6d4a3
!*.background:  #1e1e1e
!*.cursorColor: #e6d4a3
!!
!! Black
!*.color0:      #1e1e1e
!*.color8:      #7f7061
!!
!! Red
!*.color1:      #be0f17
!*.color9:      #f73028
!!
!! Green
!*.color2:      #868715
!*.color10:     #aab01e
!!
!! Yellow
!*.color3:      #cc881a
!*.color11:     #f7b125
!!
!! Blue
!*.color4:      #377375
!*.color12:     #719586
!!
!! Magenta
!*.color5:      #a04b73
!*.color13:     #c77089
!!
!! Cyan
!*.color6:      #578e57
!*.color14:     #7db669
!!
!! White
!*.color7:      #978771
!*.color15:     #e6d4a3
!!
!! Bold, Italic, Underline
!*.colorBD:     #ffffff
!*.colorIT:
!*.colorUL:
!!!
